:root {
    --hue-co11: 30;
    --hue-col2: 60;
    --hue-col3: 90;
    --hue-col4: 120;
    --hue-col5: 150;
    --hue-col6: 180;
    --hue-col7: 210;
    --hue-col8: 240;
    --hue-col9: 270;
    --hue-col10: 300;
    --hue-col11: 330;
    --hue-col12: 360;
}

body {background-color: #FCFAEE;}

h1 {
  text-align: center;
  color: #2B364F;
}

nav {
    box-align: center;
  }

#Qual {
    background-color: #F0F7FA;
    color: #2B364F;
    margin: auto;
    width: 50%;
    padding: 4%;
}

#art {
    background-color: lightblue;
    text-align: center;
    color: #2B364F;
  }

