#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 150%; 
  height: 150%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


h1 {
  text-align: center;
  color: #b3d9d9;
  position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

h2 {
  color: #b3d9d9;
  text-align: center;
  
 
   
}

.nav {
    box-align: center;
    opacity: 0.7;
    
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}


body, html {
 
  font-family: sans-serif;
  display: flex;
  flex: 100%;
}

.container {
  display: flex;
  flex: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

.container > div {
  text-align: center;
  justify-self: center;
  margin-top: 40px;
}

.container > table {
  justify-self: center;
  flex: 80%;
  background-color: lightblue;
    text-align: center;
    color: #2B364F;
}
