h1 {
  text-align: center;
  color: #ffbe0b;
}

h2 {
  color: #ffbe0b;

}

h3 {
  text-align: center;
  text-justify: auto;
  color: #999;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #999;
  padding: 20px;
  margin-top: 40px;
}

.row > button {
  max-height: 50px;
  width: 200px;
  opacity: 1;
}

.nav {
    box-align: center;
    opacity: 0.7;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  height: 768px;
}


body, html {
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

button:active {
  border-color: yellow;
}

.container {
  display: flex;
  flex: 100%;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

.container > div {
  text-align: center;
  justify-self: center;
  margin-top: 40px;
}

.container > table {
  justify-self: center;
  flex: 80%;
  background-color: lightblue;
  text-align: center;
  color: #2B364F;
  max-width: 960px !important;
}

.btn{
  background-color: transparent;
  background-repeat:no-repeat;
  border: 20px;
  border-color: #ffbe0b;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 22px;
  color: white
}

#art {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  max-width: 960px !important;
  height: 253.43px;
}

#videos {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  max-width: 960px !important;
  height: 253.43px;
}

#Qual {
  display: flex;
  max-width: 960px !important;
  height: 253.43px;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 150%; 
  height: 150%;
  filter: grayscale();
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}